[2016-08-08 16:42] januff opened #1 "tab-custom-icon.directive.js error"
Thanks for this crucial plug-in, Gerrit!

Got the custom-icon directive working perfectly, but on both my project and a local copy of your Example app, the tab-custom-icon directive is failing to display the icon, throwing errors like so:

tab-custom-icon.directive.js:127
Uncaught TypeError: Cannot set property 'className' of undefined
TabCustomIcon._update @ tab-custom-icon.directive.js:127
(anon

[2016-08-09 15:04] GerritErpenstein commented on #1
Hi januff, thanks for the issue report!
This could be a problem/incompatibility with the new version 2.0.0-beta.11 of Ionic. Give me a day or two for adapting the library. I will get back to you asap.

[2016-08-09 20:02] #1 closed

[2016-08-09 20:06] GerritErpenstein commented on #1
The problem should be fixed in version 0.2.1. Please report back otherwise. Thanks!

[2016-08-09 20:58] januff commented on #1
Works like a charm. You rock, Gerrit.

[2016-09-30 13:22] GerritErpenstein opened #2 "Support Ionic 2.0.0-rc.0"
- [x] Switch from gulp to npm build system
- [x] Fix tabs directive
- [x] Update README
- [ ] ...?

[2016-10-06 19:18] GerritErpenstein commented on #2
A new version for Ionic 2.0.0-rc.0 will be available tomorrow. I am just making finishing touches.

[2016-10-06 19:21] sagivf commented on #2
Thanks @GerritErpenstein, way to push through a major set back!

[2016-10-07 19:26] #2 closed

[2016-10-08 15:22] januff commented on #2
Working for me, really nice job.

[2016-10-08 20:22] sagivf opened #4 "Seems like one step needs correcting in the docs"
Thanks for this repo!

Works for me after - https://github.com/GerritErpenstein/ionic2-custom-icons/pull/3

[2016-10-09 07:08] GerritErpenstein commented on #4
Merged your pull request. Thanks for the contribution!

[2016-10-09 07:08] #4 closed

[2016-11-01 02:27] sagivf opened #5 "Ionic build change, again..."
@GerritErpenstein I seriously feel your pain, but it looks like it's happened again...
http://blog.ionic.io/ionic-build-process-updates/

It says you can keep using roolup but:

1) Haven't tried upgrading so who knows if it works...
2) Never a good idea to steer away from the main development route.
3) I know you had a webpack option before, perhaps you  can support both.

Thanks again for your ha

[2016-11-01 08:51] GerritErpenstein commented on #5
Hey @sagivf ! Thanks for the heads up!
I didn't have much time to take a look at the changes yet, but it seems like they only affect the bundling process (Rollup -> Webpack 2). So hopefully not much work needs to be put into this to get the library working with Webpack.
Switching central components like the build process tools means a lot of work for everybody involved, but generally I think tryin

[2016-11-01 16:46] GerritErpenstein commented on #5
Luckily the library needs no modifications to work with the new build process of `@ionic/app-scripts`.
Nevertheless I have updated the dependencies, published a new version (0.3.1) and updated the example app.

[2016-11-01 16:46] #5 closed

[2016-11-24 10:41] marteb opened #6 "rebuild and prewatch scripts not working Ionic 2 RC2/RC3"
i’m not sure what causes this problem, but running only `ionic serve` doesn’t trigger the prebuild and prewatch scripts, which results in errors like `copy: Error copying "/Users/name/project/.tmp-custom-icons/fonts" to "/Users/name/project/www/assets/fonts": File not found` and `sass: stdin, line: 1 File to import not found or unreadable: .tmp-custom-icons/scss/variables.scss Parent style sheet:

[2016-11-24 15:53] GerritErpenstein commented on #6
Hi @marteb, thank you for the report! I will take a look at it at the weekend and provide a fix. It's probably just a minor issue.

[2016-11-27 13:36] #6 closed

[2016-11-27 14:04] GerritErpenstein commented on #6
Luckily the fix was trivial. Just update the `scripts` section in your `package.json` as described in the README: [1.1 Add npm-scripts](https://github.com/GerritErpenstein/ionic2-custom-icons#11-add-npm-scripts)
**Side note:** When updating `@ionic/app-scripts`, always make sure to also check/update your `copy.config.js` and `sass.config.js`.

[2016-12-29 14:18] abennouna opened #8 "Broken link for icons.html"
In the README, shouldn't:

```See the file [icons.html](app/pages/icons/icons.html) in the example app for an overview.```

be:

```See the files [icons.page.html](https://github.com/GerritErpenstein/ionic2-custom-icons-example/blob/master/src/pages/icons/icons.page.html) and  [tabs.page.html](https://github.com/GerritErpenstein/ionic2-custom-icons-example/blob/master/src/pages/tabs/tabs.page.html

[2016-12-29 14:23] abennouna commented on #8
Or, since you are the author of both 😄:
```See the files [icons.page.html](../../../ionic2-custom-icons-example/blob/master/src/pages/icons/icons.page.html) and [tabs.page.html](../../../ionic2-custom-icons-example/blob/master/src/pages/tabs/tabs.page.html) in the example app for an overview.```

[2016-12-29 14:55] #8 closed

[2016-12-29 15:04] abennouna opened #9 "Feature: Support outline icons"
Do you think it would be easy to add support for outline stroke icons? It would be a nice to have for iOS.

[2016-12-29 16:25] GerritErpenstein commented on #9
Sounds like a reasonable feature. Let's see if I come up with a good idea...

[2017-01-11 11:33] YasirPanjsheri opened #10 "custom icons appear smaller than ionicons"
Hi , I have followed the instructions and set up everything, its working fine but however the icons appear in smaller size, how to fix this issue ??

![screenshot from 2017-01-11 15-59-43](https://cloud.githubusercontent.com/assets/12644122/21846978/2c5abc76-d817-11e6-97a0-970c9aba2c27.png)

the screenshot above , on the right is ionicon , on left is EvilIcons

.html

     <custom-icon set="ei" na

[2017-01-13 18:08] GerritErpenstein commented on #9
If all is going well, I will release a new version with the requested feature in the next few days.

[2017-01-13 18:11] GerritErpenstein commented on #10
You're right, this looks a bit off. :wink: I will look into it!

[2017-01-15 10:10] GerritErpenstein commented on #9
See https://github.com/GerritErpenstein/ionic2-custom-icons-example/tree/feature/platform-specific for an example of the (yet unstable) release of the feature.
Please let me know if you have any suggestions. The docs haven't been updated yet but I think it's pretty self-explaining how it works.

[2017-01-18 21:08] acinader opened #11 "Sass error when using the --prod flag"
[code]

[2017-01-19 19:14] GerritErpenstein commented on #11
I'm not able to reproduce the error.
Do you use the latest version of @ionic/app-scripts (1.0.0) and the ionic cli (2.2.1)? Furthermore  I can't find any docs about the `--prod` parameter.

[2017-01-20 00:55] acinader commented on #11
Hi @GerritErpenstein

https://github.com/driftyco/ionic/blob/master/scripts/gulp/util.ts#L181

yeah, docs are pretty slim, but you can see from the output that --prod builds are minified and other tasks that make the output much smaller (though still way to large imho ;)).

[code]
 whoa.  cool.

BUT! due to ionic / cordova platform build issue i was having, I learned that I was using an unsupporte

[2017-01-20 19:17] twilliamsgsnetx opened #12 "The instructions are not completely clear"
What is .tmp-custom-icons? This is mentioned, but not mentioned as a placeholder or anything, and in the example document, the config files use this as well... causing errors in my build process.

There's reference to a variables.scss file that doesn't exist anywhere in the example project.

[2017-01-20 19:30] twilliamsgsnetx commented on #12
It seems I fubared the scripts section, which was my issue.

[2017-01-20 19:30] #12 closed

[2017-01-22 19:46] GerritErpenstein commented on #11
Glad you have resolved it!
And you seem to be right about the `--prod` parameter. I was able to find a reference in the [config.ts](https://github.com/driftyco/ionic-app-scripts/blob/master/src/util/config.ts) of `@ionic/app-scripts` although I didn't have much time to dig deeper...

[2017-01-22 19:46] #11 closed

[2017-01-23 11:19] YasirPanjsheri commented on #10
Hi mr.Gerrit , any updates regarding this issue ?

[2017-01-23 17:12] GerritErpenstein commented on #10
Actually yes. The size of the icons seems to be correct. The arrow icon of EvilIcons is just smaller than the Ionicon one. I will post a screenshot later...

[2017-01-23 17:57] GerritErpenstein commented on #10
I have imported the original Ionicon icon pack using the library and created a custom icon set. See the following screenshot:
![screenshot_20170118_081951](https://cloud.githubusercontent.com/assets/9967761/22215647/6ab988c4-e19c-11e6-9b93-1396a3fa1e6c.png)
The left icon is inserted using the `ion-icon` directive (marked with an "I"), the right one using the `custom-icon` directive (marked with a

[2017-01-24 04:59] YasirPanjsheri commented on #10
can you provide a link for original icon packs ?

[2017-01-28 09:40] GerritErpenstein commented on #10
Sorry for the late response. I must have missed your message.
You can find the original Ionicon svgs here: https://github.com/driftyco/ionicons/tree/3.0

I'm not sure if I completely understand your problem. Ionicons, Evil Icons and Foundation Icons are different icon sets. Although there are icons that are similar, they don't necessarily have the same size.

The a look at both icons you mentioned

[2017-02-06 12:35] sagivf opened #13 "Issue with heroku deploy"
Hey,

A bit of an edge case, but i'm trying to get this deploying on heroku and something isn't working.
Runnig `npm run ionic2-custom-icons` locally on a mac I get:
[code]

But on Heroku I get
[code]
Seems like `gulp-svgicons2svgfont` isn't being called or failing but no clear message. Any idea if there might be a dependency missing or any advice?

[2017-02-06 12:51] GerritErpenstein commented on #13
Damn, just realised installing the library without a version number resolves to `0.4.1-beta.0`. That could be the case for you. Can you please check that your `package.json` statically sets the version number to `0.3.1`?
[code]

[2017-02-06 13:18] GerritErpenstein commented on #13
Forgot to add the beta tag to the release. Please update/reinstall your node modules. That should fix the error. Sorry for the inconvenience.

[2017-02-06 13:21] sagivf commented on #13
@GerritErpenstein I think it's ok, running `npm install ionic2-custom-icons --save` results in `"ionic2-custom-icons": "^0.3.1"`.
 I tried installing `0.4.1-beta` to see if it helps with my issue...

[2017-02-06 13:21] sagivf commented on #13
But both fail on heroku.

[2017-02-06 13:55] juanshot opened #14 "Icon's original color"
Hi!  i imported flags icons set  and it works great but i need to see the original flags color not outline. how do i do that? thanks!

[2017-02-06 17:11] GerritErpenstein commented on #10
As there aren't any more comments or questions I'm closing this issue.

[2017-02-06 17:11] #10 closed

[2017-02-06 17:14] GerritErpenstein commented on #14
Hi! I'm not quite sure if I understand the problem. Can you point me to the mentioned icon set or give me an example?

[2017-02-06 17:17] GerritErpenstein commented on #13
I have never used Heroku but let me see if I can set up a simple project to reproduce the error.

[2017-02-06 17:55] juanshot commented on #14
ok. Im using svg full color flags and it already works i already use it
 like this:

<custom-icon set="fl" name="united-states" item-right ></custom-icon>

but it outputs an united states image black & white.  is there any way to
show the original colors of my image?

2017-02-06 12:14 GMT-05:00 Gerrit Erpenstein <notifications@github.com>:

[2017-02-06 18:07] GerritErpenstein commented on #14
The icons are converted to a "normal" font set. Fonts are monochrome which means there is only one color. This is by design and there is not much I can do about it.
If you need colored icons, use SVGs (make sure your target platforms support SVGs) or use PNGs.
Thanks for your request!

[2017-02-06 18:07] #14 closed

[2017-02-06 21:18] sagivf commented on #13
@GerritErpenstein Thanks, I know this is kind of out of scope but I thought I'd give it a shot... it's probably either something to do with paths or something to do with herokus file accesses.

Do you want me to open a project to reproduce and share it with you?
Only if you have the time and patience for this of course...

[2017-02-06 21:29] twilliamsgsnetx opened #15 "Can't color icons used in tabs"
I have added these custom icons to my tabs, using the following css.

[code]

Nothing I seem to do at this point allows me to custom color these icons, when used as icons for tabs in Ionic 2. Any thoughts?

[2017-02-13 18:54] darmie opened #16 "Error while generating fonts. : no script for preionic2-custom-icons, continuing"
I followed all instructions in the Readme. But I can't get past this error:

[code]

verbose npm debug log:

[code]

[2017-02-13 19:15] darmie commented on #16
Fixed by removing `-` in svg file names.

[2017-02-13 19:17] sagivf commented on #13
Ive found that I can just commit the generated font / scss folders. Not ideal but not critiacal at all so I'm gonna close this.

[2017-02-13 19:17] #13 closed

[2017-02-13 20:58] darmie commented on #16
Problem persists... It worked for a while.. now it has stopped again!

[2017-02-13 21:21] GerritErpenstein commented on #16
Hi @darmie! Thanks for the report. Can you please try to build the example app and see if it works for you?
https://github.com/GerritErpenstein/ionic2-custom-icons-example

[2017-02-13 21:24] darmie commented on #16
Let me try and get back to you.

[2017-02-13 21:42] darmie commented on #16
It's not failing on the sample project.

[2017-02-13 21:42] darmie commented on #16
I suspect a memory issue, it works for my project sometimes, and it doesn't some other time.

[2017-02-24 09:37] mavogel commented on #9
@GerritErpenstein thx for this nice feature. Added it to my app and it works great (for tabs as well). It's nice with the (ion|md) suffix. At first I expected (ion|md) as prefix, like ionic internally does, but it's better your way, cuz then the icon are also sorted in my folder on the disc.

Took me a while to find out you changed the path `config/sass.config.js`
[code]
but as you said: docs were

[2017-02-24 19:29] #16 closed

[2017-02-24 19:39] GerritErpenstein commented on #9
Hi @mavogel! Thanks for the kind feedback. I am still working on this feature. The next (beta) release will support inactive ("outline" for iOS) icons. After finishing that, I will update and rewrite the docs. Until then the feature branch in the ionic2-custom-icons-example contains a working example with the new features.

I will look into it. Ideally the size should be as close to the size of th

[2017-03-12 14:13] GerritErpenstein commented on #9
I have just push a commit that should make the next release feature complete. Inactive ("outline") icons are fully supported now. The example app (in the platform-specific branch) has also been updated.
The next step is to update the docs and make a stable release.

Feel free to test the update and please let me know if you find any problems. Thanks!

[2017-03-15 16:35] mavogel commented on #9
@GerritErpenstein thank for th update. Outline icons work fine for me now.
For me the tab icons are still really small for iOS. (or maybe it's meant to be this small by ios conventions. I'm new to app dev...)
It tried it with your `platform-logo`. I also saw that it's possible to pass a `small` parameter to the `<custom-icon>` and probably something like `large`. Is this also possible in a way for

[2017-04-18 08:18] mwiley63 commented on #15
I can confirm that colors work in Ionic 3.x by setting Ionic's sass variables like so:
[code]

Note, this also worked for me using a non-primary color in versions < 3.x with ionicons.

[2017-04-18 08:30] mwiley63 opened #17 "Beta release and Ionic 3.x -- update your sass.config.js"
Versions:
  * Ionic 3.0.1
  * app-scripts 1.3.0
  * ionic2-custom-icons 0.4.1-beta.2

I am confused on the instructions for the beta release.  When I do a fresh install with `@beta` and run ionic build, I get the following error:
[code]
However, the linked changelog was last updated on Nov. 1 2016 and the beta README links to the stable release's README for configuration.

Is the configuration dif

[2017-04-18 09:21] GerritErpenstein commented on #17
Hi Matthew!
Indeed it is a bit confusing right now as the configuration has slightly changed. Sorry for that!
In your `sass.config.js` make sure to use the new path:
[code]
(instead of `node_modules/ionic2-custom-icons/directive/scss/`)

It is correctly stated in the [docs/CONFIGURATION.md](docs/CONFIGURATION.md) but I should have made it more obvious. As the beta does not seem to have any bugs, I

[2017-04-18 09:56] mwiley63 commented on #17
Thank you!  I missed that small change 👍

[2017-04-19 16:29] begriffin opened #18 "npm scripts not triggered for ionic-cli 3.x"
Just a quick note for updated ionic-app-scripts.
You need to change the scripts section in package.json to:

[code]

[2017-04-19 18:15] GerritErpenstein commented on #18
Hi @begriffin!
I'm a little bit confused. Where do these script keys come from?
After changing the script keys `ionic2-custom-icons` isn't triggered anymore.
I am using `@ionic/app-scripts` 1.3.4 and `ionic-cli` 2.2.2.

[2017-04-19 20:35] begriffin commented on #18
I have `@ionic/app-scripts 1.3.1` and `ionic-cli 3.0.0-beta7`

 I just took a guess at the keys after digging through things and not finding any reason why I was getting the error:
`line: 1 File to import not found or unreadable: .tmp-custom-icons/scss/variables.scss Parent style sheet: stdin`

When I changed to the `ionic:build:before` and `ionic:serve:before` everything worked great.

[2017-04-19 20:50] GerritErpenstein commented on #18
Maybe there was a change in `ionic-cli` 3.x. I will check that tomorrow. Thank you very much for the report!

[2017-04-20 16:53] GerritErpenstein commented on #18
After switching to `ionic-cli 3.0.0-beta7` the scripts aren't triggered at all.
None of the following seem to work:
[code]
Actually any script is ignored, even `ionic:build` and `ionic:serve`.
This might be related to the following issue: https://github.com/driftyco/ionic-cli/issues/1989

But I don't understand why this works for you if you change the script names!?

I think I will have to spend s

[2017-04-20 17:54] GerritErpenstein commented on #18
As I couldn't find any code that implements this feature in `ionic-cli 3.x` I have opened an issue: https://github.com/driftyco/ionic-cli/issues/2124
Let's hope the ionic team resolves this issue soon.

[2017-04-22 13:15] ThorvaldAagaard opened #19 "Custom Icons for ActionScreenController"
Hi Gerrit

I like the way you have implemented Custom Icons for Tabs, but have you found a way I can use you Custom icons for a ActionSheet, or am I left with the buildt in icons?

    let profilePicSheet = this.actionSheetCtrl.create({
      title: 'Upload your Picture',
      buttons: [
        {
          text: 'Take a Picture',
          role: 'destructive',
          icon: !this.platform.is('

[2017-04-22 13:48] GerritErpenstein commented on #19
Hi Thorvald!
I will look into adding icons to Action Sheets as soon the current beta has been released as a stable version. I hope to have some time tomorrow.
Thanks for the feature request!

[2017-04-22 15:44] GerritErpenstein commented on #9
@mavogel
The small icons issue for tabs should be fixed in `ionic2-custom-icons 0.4.1-beta.3`. Thanks for your feedback!

[2017-04-22 16:10] ThorvaldAagaard commented on #19
Sounds great. Will I have to upgrade to Ionic CLI 3.0 to test the beta version ?

[2017-04-22 16:44] GerritErpenstein commented on #19
No, you actually have to stay with `ionic-cli 2.x` right now.
See here for more info: [README-BETA.md#warning-ionic-cli-300-betax-incompatible](https://github.com/GerritErpenstein/ionic2-custom-icons/blob/master/README-BETA.md#warning-ionic-cli-300-betax-incompatible)

[2017-04-22 16:53] ThorvaldAagaard commented on #19
Ok, I will stay on ionic-cli 2.2.0 for now.

I you should manage to implement the feature for ActionSheet, what will then be the requirements for my app? I can see the beta refers to Angular 4, and due to missing upgrade of AngularFire I am currently stuck at Ionic version 2

[2017-04-22 17:40] GerritErpenstein commented on #19
The beta and succeeding stable release might work with Ionic 2.x. Just give it a try!

[2017-04-23 13:35] #9 closed

[2017-05-01 07:43] GerritErpenstein commented on #19
I have a working prototype for adding custom icons to Action Sheet buttons. This one was a bit tricky as Ionic wasn't really developed with extending its core functionality in mind.
Give me a few days to clean up and test the code...

[2017-05-01 07:44] GerritErpenstein commented on #17
The CHANGELOG has been updated with upgrade instructions.

[2017-05-01 07:44] #17 closed

[2017-05-09 13:22] sarahsga commented on #9
@GerritErpenstein my custom outline icons still appear with the fill, I tried the heart icon, the outline works for that, but for some icons, it does not. Try the svg I've attached (inside the .zip because .svg was not allowed)
[devices.svg.zip](https://github.com/GerritErpenstein/ionic2-custom-icons/files/986705/devices.svg.zip)

[2017-05-13 08:18] GerritErpenstein commented on #9
@sarahsga I have taken a look into your SVG. Please try to remove all SVG transforms. They have caused problems in the past.
Attached you can find an edited version of your SVG that works with this library
[devices_edited.zip](https://github.com/GerritErpenstein/ionic2-custom-icons/files/998438/devices_edited.zip)
.

[2017-05-23 19:25] ThorvaldAagaard commented on #18
I have upgraded to Ionic CLI 3.1.2 and the suddenly realised that this plugin no longer was building during build of my app.

But for others in the same situation there is a simple solution until the proper hook will be available.

Just execute:

npm run prebuild

Then you will manually have to remember if the icons have been updated :-)

[2017-05-29 22:36] jmickvs opened #20 "hello build error with ionic 3.3.0"
Hello I have a trouble with ionic 3.3.0 and custom-icons plugin 0.4.1 when build the project, I got the next error

this error also got it when I work with ionic 3.0.1, i dont know what is the problem i hope you can help me

ionic info
global packages:

    @ionic/cli-utils : 1.2.0
    Cordova CLI      : 6.5.0
    Ionic CLI        : 3.2.0

local packages:

    @ionic/app-scripts              : 1.3

[2017-05-30 18:01] GerritErpenstein commented on #20
Hi @jmickvs ,
currently this library does not work with `ionic-cli 3.x`. Please see the corresponding issue #18 for more info.

[2017-05-30 18:01] #20 closed

[2017-05-31 11:45] davyzhang commented on #18
@ThorvaldAagaard

It gives missing script error, anyway to run these script manually?
[code]

[2017-05-31 18:06] ThorvaldAagaard commented on #18
Yes, you are right. I was assuming that you had updated package.json according to the istallation guide, så I had this in my file

    "scripts": {
        "prebuild": "ionic2-custom-icons",

I also realised that running

npm run build

would build all

[2017-06-07 08:23] GerritErpenstein commented on #18
Good news! The Ionic team provides a solution very soon. :-) See the last messages in the corresponding issue thread: https://github.com/ionic-team/ionic-cli/issues/1989#issuecomment-306338187

[2017-06-12 20:15] mwiley63 commented on #18
It looks like the new CLI (3.4) now resolves this issue:  https://github.com/ionic-team/ionic-cli/blob/master/CHANGELOG.md

Would an acceptable integration be `"ionic:build:before": "ionic2-custom-icons"` in the scripts section?

[2017-06-12 20:27] Gemeapp commented on #18
It is working fine with

 "ionic:build:before": "ionic2-custom-icons"

Is there a way to get output from the build?

Now the result looks like this

  ✔ Running command - done!

[2017-06-13 00:59] mwiley63 commented on #18
If you are lazy like me you could add `"ci-icons": "ionic2-custom-icons"` to scripts in package.json and run with `npm run ci-icons`.

I use that as a sanity check before I start release builds :)

However since 3.4 supports gulp tasks, a better solution would be to hook the gulp task into the CLI events and then you could control the outputs and errors.

[2017-06-13 07:56] GerritErpenstein commented on #18
Npm script hooks have been fixed in `ionic-cli` v3 (see https://github.com/ionic-team/ionic-cli/issues/2124#event-1112194403)
The docs are here: https://github.com/ionic-team/ionic-cli#cli-hooks
To enable these hooks for `ionic2-custom-icons` just use `ionic:watch:before` and `ionic:build:before` (instead of `serve:before` and `build:before`). Make sure you have the latest version of `ionic-cli`.

[2017-06-13 17:04] GerritErpenstein commented on #18
@begriffin @ThorvaldAagaard @davyzhang @mwiley63
Can anyone of you confirm @Gemeapp 's findings that there is no console output?

[2017-06-13 20:57] ThorvaldAagaard commented on #18
Alias Gemeapp :-)

This is ionic info

global packages:

    @ionic/cli-utils : 1.4.0
    Cordova CLI      : 7.0.1
    Ionic CLI        : 3.4.0

local packages:

    @ionic/app-scripts              : 1.3.7
    @ionic/cli-plugin-cordova       : 1.4.0
    @ionic/cli-plugin-ionic-angular : 1.3.1
    Cordova Platforms               : android 6.2.3 ios 4.4.0
    Ionic Framework                 : ionic-

[2017-06-14 16:29] GerritErpenstein commented on #18
@ThorvaldAagaard Thanks! I have reported the issue to the Ionic team. https://github.com/ionic-team/ionic-cli/issues/2124#issuecomment-308484986

[2017-06-25 12:51] GerritErpenstein commented on #18
Using the latest alpha release of `ionic-cli`, the issue seems to be resolved. Install it (at your own risk) with the following command:
[code]
Don't forget to update when a new stable release becomes available!

[2017-07-16 15:11] GerritErpenstein commented on #19
Stable release in version 0.5.0.

[2017-07-16 15:11] #19 closed

[2017-07-16 15:13] GerritErpenstein commented on #18
The hooks work for `ionic-cli 3.5.0`. The docs have been updated:  https://github.com/GerritErpenstein/ionic2-custom-icons/blob/master/docs/CONFIGURATION.md#11-add-npm-scripts

[2017-07-16 15:13] #18 closed

[2017-07-17 17:11] ymmedia opened #21 "ionic2-custom-icons / Android Kitkat"
Hello,

How does ionic2-custom-icons work if the system (android kitkat) does not support svg ?

Thank you in advance for your answer

Medjay.

[2017-07-18 18:01] GerritErpenstein commented on #21
Hey @ymmedia,
as stated in the docs:

This means the library does not embed SVGs in the app. Instead it converts your SVGs into fonts, that all browsers support.
BTW I'm pretty sure KitKat's internal browser runtime supports SVGs.

[2017-07-18 18:01] #21 closed

[2017-07-18 18:50] ymmedia commented on #21
thank you for your reply

[2017-07-28 02:37] luiz-c commented on #15
Hi, I'm new to ionic and to this custom icon stuff. I just wanna know if its possible for the SVG to keep its color instead of getting from the sass variables. Because I have one icon that has around 5 colors and when I put in the ionic tab it stays in grey. Thanks.

[2017-08-01 13:57] hotoowind opened #22 "run example get error"
I download https://github.com/GerritErpenstein/ionic2-custom-icons-example.git and ionic serve，but i get   an error，the npm-debug.log：（on another machine have no error）

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'ionic:watch:before

[2017-08-03 03:27] anphu7492 opened #23 "Unhandled Promise rejection: Template parse errors: 'custom-icon' is not a known element"
Hi, I get this error even though `CustomIconsModule ` has been imported in app.module.ts. Does anyone encounter the same problem? Here is the system info:
[code]

[2017-08-05 17:34] Hexagoo opened #24 "File : 'tmp-custom-icons/scss/variables.scss' not found"
Hey everyone!
I'm using ionic2-custom-icons in order to animate my customs SVG in my Ionic App.
This error dropped after installation:

`File to import not found or unreadable: .tmp-custom-icons/scss/variables.scss. Parent style sheet: stdin`

Someone has an idear?

[2017-08-05 18:59] GerritErpenstein commented on #23
Hi @anphu7492
Please verify the example app works for you: https://github.com/GerritErpenstein/ionic2-custom-icons-example

[2017-08-05 18:59] GerritErpenstein commented on #24
Hi @Hexagoo
Please verify the example app works for you: https://github.com/GerritErpenstein/ionic2-custom-icons-example

[2017-08-05 21:30] Hexagoo commented on #24
Hey @GerritErpenstein thanks for the answer!
It dropped exactly the same error after running ionic2-custom-icons-example on my computer :/

[2017-08-06 08:08] GerritErpenstein commented on #24
Mmmh weird. Can you please post the output of `ionic info` from within your project directory?

[2017-08-06 08:26] Hexagoo commented on #24
Yeeees

`@ionic/cli-utils : 1.0.0
    Cordova CLI      : 7.0.1
    Ionic CLI        : 3.0.0

local packages:

    @ionic/app-scripts              : 1.3.7
    @ionic/cli-plugin-cordova       : 1.4.0
    @ionic/cli-plugin-ionic-angular : 1.3.1
    Cordova Platforms               : ios 4.4.0
    Ionic Framework                 : ionic-angular 3.2.1

System:

    Node       : v6.9.4
    OS         : m

[2017-08-06 08:27] Hexagoo commented on #24
Yeeeees

    ionic/cli-utils : 1.0.0
    Cordova CLI      : 7.0.1
    Ionic CLI        : 3.0.0

local packages:

    ionic/app-scripts : 2.1.3
    Cordova Platforms  : none
    Ionic Framework    : ionic-angular 3.6.0

System:

    Node       : v6.9.4
    OS         : macOS Sierra
    Xcode      : Xcode 8.3.3 Build version 8E3004b
    ios-deploy : 1.9.1
    ios-sim    : 5.0.13

[2017-08-06 08:36] GerritErpenstein commented on #24
You are using an old version of `ionic cli`. Please update to the latest version `3.7.0`.

[2017-08-06 10:18] Hexagoo commented on #24
Oooh thanks you! It works...
Command : `sudo npm install -g ionic@latest`

[2017-08-06 10:18] #24 closed

[2017-08-06 13:22] Hexagoo opened #25 "Modify my SVG color"
Hey, I want to create a page where people can select their music styles.

I made a mockup:
![example_poi](https://user-images.githubusercontent.com/14003264/29003359-a2e6fa26-7ab5-11e7-8efc-af7726c224cf.png)

The problem with this SVG is they have a white cercle with a low opacity.
After activated it, the logo takes a blue color and the cercle is totally white.

Can I make this with 'ionic2-custom

[2017-08-11 08:06] josiekiwanuka commented on #23
I encountered the same issue

[2017-08-11 18:08] GerritErpenstein commented on #23
Hi @josiekiwanuka
Same question for you: Does the example project work?
https://github.com/GerritErpenstein/ionic2-custom-icons-example

[2017-08-11 18:35] GerritErpenstein commented on #25
Hi @Hexagoo,
that should be possible solely with CSS. Try something like this:

[code]

[code]

[2017-08-15 21:20] zimnerd opened #26 "Icons not displaying on tabs Ionic 3.8.1"
HERE is the code

<ion-tabs id="tabs-tabs1" selectedIndex="1">
  <ion-tab [root]="tab1Root" tabTitle="Submit Claim" tabIcon="checkmark-circle" id="tabs-tab1"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Menu" tabIcon="menu" id="tabs-tab4"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Balances"  set="defy" name="wallet-balance-white"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Suppor

[2017-08-16 06:08] GerritErpenstein commented on #26
The icons in tabs are still working for me with `ionic-cli 3.8.1`. Please compare your code with the example app: https://github.com/GerritErpenstein/ionic2-custom-icons-example
Feel free to reopen the issue if have you can provide more information.

[2017-08-16 06:08] #26 closed

[2017-08-16 06:10] GerritErpenstein commented on #23
I'm closing this issue as there are no more comments or questions. Feel free to reopen the issue if you can provide more information.

[2017-08-16 06:11] GerritErpenstein commented on #25
I'm closing this issue as there are no more comments or questions.

[2017-08-16 06:11] #25 closed

[2017-08-16 10:08] zimnerd commented on #26
@GerritErpenstein , The icons are now working, I think the issue was with the SVG files. Do you have any idea how to maintain the svn icon colors because they are only being displayed as a solid color.

Thanks

[2017-09-11 20:42] ThorvaldAagaard commented on #23
Hi Gerrit

I have reproduced the error in the demo-project:

[code]

To recreate the error you need to do the following

1 : Add the browser as platform

    ionic cordova platform add browser

2: start using Ionic3 module.ts for single pages.

I created the following : platform.page.module.ts

[code]

Now you can issue

    ionic cordova build browser

and all looks fine

but when building the br

[2017-09-13 19:05] GerritErpenstein commented on #23
Thanks @ThorvaldAagaard! I'll look into it asap.

[2017-09-14 21:09] GerritErpenstein commented on #23
You are correct! This is not a bug, but rather by design.
Just add *CustomIconsModule* to the imports of your sub-module. Taking your example it should look like this:

[code]
If you have more than just one module or directive that should be available in multiple sub-modules, a shared module is a good approach: https://angular.io/guide/ngmodule#shared-modules

I should probably mention this in the

[2017-09-14 21:11] ThorvaldAagaard commented on #23
Yes, and quite interesting that the compiler only shows it when using the --prod directive

[2017-09-23 22:09] charly7carlos opened #27 "ionic2-custom-icons-example@ ionic:watch:before: `ionic2-custom-icons` Exit status 1"
`D:\ionic\nofunciona>ionic serve

"ionic2-custom-icons" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.
npm
 ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! ionic2-custom-icons-example@ ionic:watch:before: `ionic2-custom-icons`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the ionic2-custom-icons-example@ ionic:watch:before script.
npm ERR! This is pr

[2017-10-14 12:34] GerritErpenstein commented on #27
Hi @charly7carlos!
Sorry, I have forgotten to answer you after returning from holidays. Did you manage to resolve the problem yourself?
I'm not really sure what causes this error. Please provide the output in english and attach the mentioned debug log file.
Thank you.

[2017-10-14 13:05] #23 closed

[2017-10-19 08:29] tenglandct commented on #27
My Portuguese (I think??) isn't very good but I believe I was having the same issue. I was previously running npm 5.3.0 and upgrading to npm 5.5.1 fixed the issue for me.

[2017-10-31 12:59] GerritErpenstein commented on #27
I can't even run ionic with such an old npm version:
[code]
Please update to a newer version and see if it works. I'm closing this issue meanwhile. If updating npm doesn't fix your problem, feel free to reopen the issue.

[2017-10-31 12:59] #27 closed

[2017-11-14 14:25] marcogrieco opened #28 "Icon in Item of a List"
Hi,
if i use the custom icon as icon in an item of a list the text on the right is not vertically aligned.

Here the piece of my code
[code]

Thanks in advance.

Marco

[2017-11-14 19:43] GerritErpenstein commented on #28
Hi @marcogrieco,
I have tested your piece of code but can not confirm your findings. Can you please provide more example code and a screenshot? Thanks

[2017-11-15 09:20] marcogrieco commented on #28
![alignment](https://user-images.githubusercontent.com/26677763/32828100-8546bc58-c9ee-11e7-95fa-6db10499df69.png)

[2017-11-15 19:29] GerritErpenstein commented on #28
I am still unable to reproduce the issue. See the following screenshot that is similar to your example:
![screenshot_20171115_201507](https://user-images.githubusercontent.com/9967761/32855509-2571ceae-ca42-11e7-81f7-90303c25866d.png)
My code is based on the [example app](https://github.com/GerritErpenstein/ionic2-custom-icons-example). I have changed the file `src/app/app.html` to adapt your use

[2017-11-16 09:14] marcogrieco commented on #28
This is the code html of my page

[code]
I have attached one of the icons that i use in the menu.

The css class bottom-border is here:

[code]
[competizione.zip](https://github.com/GerritErpenstein/ionic2-custom-icons/files/1477944/competizione.zip)

[2017-11-16 18:12] GerritErpenstein commented on #28
Alright, thanks for the additional info! I will look into it tomorrow.

[2017-11-17 19:13] GerritErpenstein commented on #28
I have tested your code and the icons look good to me:
![screenshot_20171117_200927](https://user-images.githubusercontent.com/9967761/32964388-60c4b5ec-cbd3-11e7-85e9-c42b1f16dff6.png)

Can you please provide me the app or a stripped down version? If you don't want to share it with the world, send it via e-mail: gerrit.erpenstein.dev@gmail.com

[2017-11-21 13:06] marcogrieco opened #29 "'npm' is not recognized as an internal or external command"
Hi,
i have downloaded my prject on another computer and after all settings if i run IONIC SERVE i receive this message:

"ionic2-custom-icons" is not recognized as an internal or external command

I have configured all as descripted in your plugin page.

If i remove these lines

[code]

From package.json IONIC SERVE works without problems.

These are the ionic info:
[code]

[2017-11-21 16:29] GerritErpenstein commented on #29
Hi @marcogrieco!
Could you please do the following two things:
- Provide your (anonymized) `package.json` and
- test the [example app](https://github.com/GerritErpenstein/ionic2-custom-icons-example) and check if the problems occurs there too.

A quick Google search suggests that your problem might be related to a npm configuration error on your Windows system.

[2017-11-21 17:40] marcogrieco commented on #29
Hi @GerritErpenstein,
the example app works fine. This is my package.json

[code]

[2017-11-22 09:45] dayaki opened #30 "Icons not displaying on tabs"
Icons working perfectly on other pages of my app but its not displaying on the tabs, this is my code:

`<ion-tabs class="tabs-icon-text">`
  `<ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>`
  `<ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>`
  `<ion-tab customIconSet="hub" customIconName="niben"></ion-tab>`
  `<ion-tab [root]="tab3Root" tab

[2017-11-22 13:02] marcogrieco commented on #28
I have solved with two css classes

[code]
The item in the list is

[code]

Thanks

[2017-11-23 07:06] GerritErpenstein commented on #28
I'm glad you solved it. Thanks for the feedback.

[2017-11-23 07:06] #28 closed

[2017-11-23 07:15] GerritErpenstein commented on #29
You are using a really old ionic version (`2.0.0-rc.6`). I'm afraid I can't provide any support for that.
If you have to stick to it, you could try an older version of the `ionic2-custom-icons` library.

[2017-11-23 07:15] #29 closed

[2017-11-23 07:33] GerritErpenstein commented on #30
Hi @dayaki!
What happens if you add a tab root with the `root` property to the third tab? Could you also please test what happens if you also add the `tabTitle` property?
Are you using the latest version of `ionic2-custom-icons` (version `0.5.1`)?

[2017-11-23 07:48] dayaki commented on #30
I tried both, this is my code `<ion-tab customIconSet="hub" customIconName="niben" [root]="tab2Root" tabTitle="Niben"></ion-tab>`

this is what i get, and yes am using version 0.5.1

![sc](https://user-images.githubusercontent.com/815619/33162659-fe6d8732-d02a-11e7-8631-67d3739d9976.jpg)

[2017-11-26 16:13] GerritErpenstein commented on #30
I'm unable to reproduce this error but let's see if we can narrow down the problem.

Can you please run your app with `ionic serve` and debug it in Chrome or Chromium? Select the tab button DOM element and check the `<custom-icon>` is rendered correctly. See the following example screenshot for reference:
![screenshot_20171126_170221](https://user-images.githubusercontent.com/9967761/33241876-1e28

[2017-12-26 01:31] ThorvaldAagaard opened #31 "Strange problem when building my app"
I have been using your plugin for quite a while, but have recently moved ny apps to a new pc, and during that updated a lot of stuff.

My problem is that in one of my apps the building including your script is working fine, but in the other application I get an error.

The error looks like this

[code]

and the log file contains

[code]
And in the other project the output looks like this

[code]

[2017-12-26 09:28] GerritErpenstein commented on #31
Hi @ThorvaldAagaard!
Can you please check if the file/link exists in your project: `node-modules/.bin/ionic2-custom-icons`? According to your logs the full path should be `D:\Documents\github\geme.io\node_modules\.bin\ionic2-custom-icons`.
This is the file that gets called by the trigger `ionic:watch:before` respectively `ionic:build:before`.

[2017-12-26 09:59] ThorvaldAagaard commented on #31
The file is there. As I am running windows I expect the

    D:\Documents\github\geme.io\node_modules\.bin\ionic2-custom-icons.cmd

to be executed.

So I added a single output line in it, and I can see it is executed, when run Ionic Serve outside VS Code, but not inside.

So how does ionic serve know where to look for the file?

[2017-12-26 17:09] GerritErpenstein commented on #31
I have absolutely no clue why the code runs fine outside Visual Studio Code and fails inside. I'm afraid I can't give you any support on that problem as I'm not using VS Code. But I don't think it is directly related to this library.
Please let me if you find a solution.

[2017-12-26 20:42] ThorvaldAagaard commented on #31
Indeed a very strange problem.

I copied the folder: Same issue
Cleared NPM-cached and reinstalled all plugins: Same issue
Created a new project and copied Source, config, icons and project files: Same issue

Working my way thru I created a starter project at copied all source-files after adding ionic2-custom-icons first, and it still worked. Copied the rest of the files and now i failed, and it s

[2018-01-05 16:24] ThorvaldAagaard opened #32 "Log output formatting"
When I build my app I get the following output from the plugin
[code]
is it possible to remove som of the line breaks and get output like this
[code]

All is working fine, but my OCD keeps me looking at this :-)

[2018-01-06 09:31] GerritErpenstein commented on #32
You are right, this looks horrible! :grin:

[2018-01-06 11:12] GerritErpenstein commented on #32
Log output looks like this now:
[code]

There is probably not much I can do about the blank line before and after executing the script.

[2018-01-06 11:13] #32 closed

[2018-01-23 09:52] marcogrieco opened #33 "Wrong Image Conversion"
Hi,
i'm using this fantastic plugin to use svg image in my Ionic App but i'm having a problem. When i convert a colored image, the result is a wrong image.

![immagine](https://user-images.githubusercontent.com/26677763/35269101-59f790fe-002b-11e8-8f76-9407d939f2a9.png)

The original svg image is here.

[a.zip](https://github.com/GerritErpenstein/ionic2-custom-icons/files/1655340/a.zip)

Which is

[2018-01-23 17:53] GerritErpenstein commented on #33
Hi @marcogrieco,

your SVG contains a shape above another shape. During conversion to font icons, effectively all layered shapes get converted to a single shape as the color information is lost.
In your case the "A" is merged into the square. What you can do is creating the difference between the two shapes. That means the "A" is cut out of the square.
See the attached ZIP for an example.

[a_modi

[2018-01-23 17:53] #33 closed

[2018-01-29 22:06] ThorvaldAagaard opened #34 "Fooling around with the tabbar"
I would like to change the icon in the tabbar for the tab selected, and I have found some descriptions of how to do that on the web, but for some reason if I use ionic2-custom-icons, it looks like the DOM-tree is different than expected

My DOM-tree looks like this
![image](https://user-images.githubusercontent.com/10560652/35536839-5b08888c-0548-11e8-8fba-e34e09a610b4.png)
and what is interesting

[2018-01-30 20:20] GerritErpenstein commented on #34
Hi @ThorvaldAagaard,
thanks for your message. I will take a look at it by the weekend.

[2018-01-31 21:46] ThorvaldAagaard commented on #31
A have learned a little more as it seems that as soon as I add another element in config I get the error

This works
[code]

This doesnt work
[code]

But this work
[code]

[2018-02-03 16:41] GerritErpenstein commented on #34
To my knowledge, Angular adds `ng-reflect-X` attributes for debugging purposes, where `X` is a input binding name.
The reason the `ng-reflect` attribute isn't generated for custom tab icons is, that the icons are programmatically added to the DOM as Ionic's extensibility is limited for this use case.

I don't see a reason that you use a custom icon if you replace it anyways. Other than that, I don

[2018-02-03 17:32] ThorvaldAagaard commented on #34
You are probably right, but  my issue is that the designer want different icons when the tab is selected, and there is really no other way, than replacing the image in css as far as I can see.

![image](https://user-images.githubusercontent.com/10560652/35769749-0ca70d78-0910-11e8-9ea1-b4e709d7e47c.png)

![image](https://user-images.githubusercontent.com/10560652/35769757-2289ffb0-0910-11e8-8e5c-e

[2018-02-04 14:03] #15 closed

[2018-02-06 04:45] HindHesham commented on #30
i'v the same problem and this my console log
![screenshot from 2018-02-06 06-44-17](https://user-images.githubusercontent.com/25655253/35842176-2fe62a08-0b09-11e8-99f1-5bd29d87082f.png)

[2018-02-06 05:54] GerritErpenstein commented on #30
Hi @HindHesham,
thanks for your feedback!
Do you see any error message on the 'console' tab in the chrome debug window?
As mentioned in the previous message, it would be much easier for me to fix the problem if you can provide a minimal sample app.

[2018-02-21 21:23] dayaki commented on #30
@GerritErpenstein Did a fresh installation of ionic and custom-icons, still having same issue. Should I host the sample app on github ??

[2018-02-21 21:28] dayaki commented on #30
@HindHesham @GerritErpenstein  I got it working by importing **IonicPageModule** into my tabs.module.ts. Give it a try.

[2018-02-21 21:29] GerritErpenstein commented on #30
Create a GH repo, upload a zip here or send it via e-mail to gerrit.erpenstein.dev@gmail.com ... just as you like. :smiley:

[2018-02-25 12:33] GerritErpenstein commented on #30
Ah, I think I might understand the problem now.
Do you use lazy loading?

[2018-02-25 12:34] dayaki commented on #30
Yes, am using lazy loading

[2018-03-02 06:43] HindHesham commented on #30
Hi Mr.Gerrit,
thanks for your reply and i'm very sorry for i can't be available before
now to sending reply to you.

Your plugin is working well, my problem with the images i'v used but i
fixed it.
Thanks for your efforts.

On Tue, Feb 6, 2018 at 7:54 AM, Gerrit Erpenstein <notifications@github.com>
wrote:

[2018-03-04 13:42] GerritErpenstein commented on #30
@dayaki I'll add a tab page with lazy loading to the example app. I hope this clears things up.
@HindHesham I'm glad you figured it out. :smiley:
Thanks to both of you for giving feedback!

[2018-03-04 17:15] dayaki commented on #30
Thanks for this awesome package.

[2018-03-04 17:16] #30 closed

[2018-03-21 07:26] srijanDubey commented on #15
Hi @luiz-c,

were you able to achieve that. Keeping svg's pre filled colors. I want achieve the same for my application.

[2018-04-04 13:46] niklasdoerflerkrone commented on #31
Did you found out, what caused the problem, @ThorvaldAagaard ?
I have exactly the same behaviour. If I run the command in a terminal or powershell on Windows 10, it works and the ionic2-custom-icons script is executed correctly. But if I try to run it in the integrated terminal of Visual Studio Code, I get the same error you described above. Your suggestions modifying the package.json didn't do th

[2018-04-26 08:58] GerritErpenstein commented on #31
I was finally able to reproduce this problem on a Windows machine.
For some reason when `ionic-cli` calls the npm scripts (from `package.json`) the executables in `node_modules/.bin` aren't available. Strangely enough this works if I call the npm scripts from the command line outside the Ionic lifecycle.
Currently I have no idea what causes this problem. Maybe the way `ionic-cli` calls npm!?

A **

[2018-04-26 09:07] ThorvaldAagaard commented on #31
Great. Lately this happens to me a lot of time using visual code.

Even in a cmd prompt I have seen it. My work around is now. Execute script. If it fails execute again. After 3 failing attempts, go get some coffee. When returning it normally works 😁.

I will try your suggestion and return with status

[2018-05-24 08:26] ritsuFR commented on #31
I have the same problem on Windows 10.
I find another workaround by installing the plugin globally with :

npm install -g ionic2-custom-icons --save

[2018-05-24 08:47] ThorvaldAagaard commented on #31
I can try that, but after applying the change suggested by Gerrit, it has been working fine

[2018-06-16 10:41] #34 closed

[2018-07-22 15:27] yairEO opened #35 "how to use with pseudo elements"
I want to use icons with `content` property of `::before` & `::after` pseudo elements but the README shows no such example.

[2018-08-23 13:10] ThorvaldAagaard opened #36 "Can I use this for Ionic 4?"
I am currently migrating my app to Ionic 4, and would like to know if this module works, or I have to change anything.

[2018-08-24 20:45] ThorvaldAagaard commented on #36
Answering my own question :-)

Currently not

I get the following errors:

[code]

[2018-08-26 18:04] GerritErpenstein commented on #36
Hi @ThorvaldAagaard,
this is definitely on my todo list. I will look into it in the next few days.

[2019-03-18 19:41] mrayoub commented on #36
Hi @GerritErpenstein, some news about this update?

[2019-04-21 06:45] utpaul commented on #24
Hi i got same problem but hare i am using ` "ionic-angular": "3.9.5"` and  `"@ionic/app-scripts": "3.2.2"`  @GerritErpenstein .

I also try [ionic2-custom-icons-example](https://github.com/GerritErpenstein/ionic2-custom-icons-example) but not luck.

**My machine ionic info:**

`Ionic:

   ionic (Ionic CLI) : 4.12.0

System:

   NodeJS : v11.6.0
   npm    : 6.8.0
   OS     : Windows 10`

**Project

[2019-04-30 21:44] amayvs commented on #36
Hi @GerritErpenstein, did you get a chance to look into this?

[2019-05-04 18:28] marcogrieco commented on #36
Hi, the example app doesn't work with this configuration

Ionic:
   ionic (Ionic CLI)  : 4.12.0 (/usr/local/lib/node_modules/ionic)
   Ionic Framework    : ionic-angular 3.9.2
   @ionic/app-scripts : 3.1.10

because there is a Sass Error

File to import not found or unreadable: .tmp-custom-icons/scss/variables.scss.

Thanks in advance

Marco